@page
@model LeitorNfe.Pages.Emitente.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Emitente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Emitente.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Emitente.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Emitente.CNPJ)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Emitente.CNPJ)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Emitente.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Emitente.Email)
        </dd>
        <dt class="col-sm-2">
            <a asp-page="../Endereco/Details" asp-route-id="@Model.Emitente.EnderecoId">
                @Html.DisplayNameFor(model => model.Emitente.Endereco)
            </a>
        </dt>
    </dl>
</div>
<div>
    <a asp-page="../Nfe/Index">Voltar para lista</a>
</div>
