@page
@model LeitorNfe.Pages.Nfe.IndexModel

@{
    ViewData["Title"] = "Notas";
}

<h1>Notas fiscais</h1>

@using (Html.BeginForm(FormMethod.Get, null, new { @class = "form-horizontal" }))
{
    <div class="form-group">
        <label for="SearchNumero" class="col-sm-2 control-label">Número da Nota:</label>
        <div class="col-sm-10">
            @Html.TextBox("SearchNumero", null, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label for="SearchData" class="col-sm-2 control-label">Data:</label>
        <div class="col-sm-10">
            @Html.TextBox("SearchData", "", new { @class = "form-control datepicker" })
        </div>
    </div>
    <div class="form-group">
        <label for="SearchEmitente" class="col-sm-2 control-label">Emitente:</label>
        <div class="col-sm-10">
            @Html.TextBox("SearchEmitente", null, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label for="SearchDestinatario" class="col-sm-2 control-label">Destinatário:</label>
        <div class="col-sm-10">
            @Html.TextBox("SearchDestinatario", null, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group" style="margin-top: 10px; margin-bottom: 20px;">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" value="Filtrar" class="btn btn-primary" />
        </div>
    </div>
}

<p>
    <a asp-page="Create">Inserir nova</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NotaFiscal[0].Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotaFiscal[0].ChaveAcesso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotaFiscal[0].DataEmissao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotaFiscal[0].Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotaFiscal[0].Emitente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotaFiscal[0].Destinatario)
            </th>
        </tr>
    </thead>
    <tbody>
@if (Model.NotaFiscal != null)
{
    foreach (var item in Model.NotaFiscal) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChaveAcesso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEmissao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                <a asp-page="../Emitente/Details" asp-route-id="@item.Emitente.Id">@item.Emitente.CNPJ</a>
            </td>
            <td>
                <a asp-page="../Destinatario/Details" asp-route-id="@item.Destinatario.Id">@item.Destinatario.CPF</a>
            </td>
            <td>
                <a asp-page="../Item/Index" asp-route-id="@item.Id">Itens</a>
            </td>
            <td>
                |
                <a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
    }
}

    </tbody>
</table>
